* {
    margin: 0em;
    padding: 0em;
    font-family: sans-serif;
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: black;
}

.title {
    padding-top: 20px;
}

.hero-section {
    position: absolute;
    top: 24%;
    right: 30%;
}

.board-logic {
    position: absolute;
    bottom: 20%;
    right: 34%;
}

.hero-section, .board-logic {
    display: flex;
    margin: 6em 30em;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px 70px 0px 70px;
}

.content button {
    padding: 20px 70px;
}

.board {
    position: absolute;
    top: 30%;
    right: 15%;
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
    margin: 20px 0px;
    background-color: white;
}

.board-logic {
    padding: 20px;
}

button, input {
    background-color: black;
    border: solid lightblue 2px;
    border-radius: 20px;
    padding: 20px 25px;
    color: white;
    cursor: pointer;
}

::placeholder {
    color: white;
}

.notify {
    margin-top: 10em;
}