* {
    margin: 0em;
    padding: 0em;
    font-family: sans-serif;
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: black;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
    margin: 20px 0px;
    
}

button, input {
    background-color: black;
    border: solid red 2px;
    border-radius: 20px;
    padding: 20px;
}
